Repository infinite-loop-factory/app-factory, changes with the owners that .github/CODEOWNERS names for each.
All owners: @infinite-loop-factory/app-factory, @ckrbqja, @gracefullight, @Lim-Ji-Hyeon, @gaa0, @JAM-PARK

feat(question-card): ✨ 카드 뒤집기 및 힌트 기능 구현
  apps/question-card/data/questions.json
  apps/question-card/src/components/screens/ContinuousCardScreen.tsx
  apps/question-card/src/components/ui/FlipCard.tsx
  apps/question-card/src/components/ui/index.ts
  apps/question-card/src/types/index.ts
  apps/question-card/src/types/questions.ts
Owners: @JAM-PARK

feat(question-card): ✨ 전체화면 카드 모드 구현 및 스와이프 애니메이션 수정
  apps/question-card/src/components/screens/ContinuousCardScreen.tsx
  apps/question-card/src/components/screens/IndividualCardScreen.tsx
  apps/question-card/src/components/screens/IndividualCardScreen/CardBackContent.tsx
  apps/question-card/src/components/screens/IndividualCardScreen/CardFrontContent.tsx
  apps/question-card/src/components/screens/IndividualCardScreen/NavigationButtons.tsx
  apps/question-card/src/components/screens/IndividualCardScreen/ProgressHeader.tsx
  apps/question-card/src/components/screens/IndividualCardScreen/index.tsx
  apps/question-card/src/components/ui/FullscreenToggleButton.tsx
  apps/question-card/src/components/ui/index.ts
  apps/question-card/src/hooks/useFullscreenMode.ts
Owners: @JAM-PARK

feat: ✨ add favorites function
  apps/cafe/src/app/(tabs)/index.tsx
  apps/cafe/src/app/(tabs)/mypage.tsx
  apps/cafe/src/app/auth.tsx
  apps/cafe/src/app/cafe/[id].tsx
  apps/cafe/src/app/category/[id].tsx
  apps/cafe/src/features/auth/supabase/auth-context.tsx
  apps/cafe/src/hooks/use-favorites.ts
  apps/cafe/src/supabase/supabase.ts
  packages/config-typescript/package.json
  packages/ui/package.json
Owners: @ckrbqja, @infinite-loop-factory/app-factory

feat: ✨ 내가 등록한 산책 코스 관련 화면 및 기능 구현
  apps/dog-walk/api/reactQuery/course/useFindMyCoursesInfinite.ts
  apps/dog-walk/api/reactQuery/queryKeys.ts
  apps/dog-walk/app/(screens)/my/walking-courses.tsx
  apps/dog-walk/components/card/MyCourseCard.tsx
  apps/dog-walk/components/card/MyCourseCardSkeleton.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 설정 화면 추가
  apps/dog-walk/app/(screens)/settings/index.tsx
  apps/dog-walk/components/ProfileMenuItem.tsx
  apps/dog-walk/components/ProfileView.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 로그아웃 훅 추가
  apps/dog-walk/hooks/useLogout.ts
Owners: @Lim-Ji-Hyeon

feat: ✨ 산책 코스 삭제 관련 훅 추가 및 soft delete에 따른 조회 수정
  apps/dog-walk/api/reactQuery/course/useDeleteCourse.ts
  apps/dog-walk/api/reactQuery/course/useFindCourse.ts
  apps/dog-walk/api/reactQuery/course/useFindNearbyCourses.ts
  apps/dog-walk/api/reactQuery/course/useFindPopularCourses.ts
Owners: @Lim-Ji-Hyeon

feat: ✨ 분 단위 시간 표시 함수 추가
  apps/dog-walk/utils/number.ts
Owners: @Lim-Ji-Hyeon

feat: ✨ 산책 코스 데이터 관련 타입 정의 추가
  apps/dog-walk/types/course.ts
Owners: @Lim-Ji-Hyeon

feat: ✨ Option Actionsheet에 삭제하기 옵션 추가
  apps/dog-walk/components/actionsheet/OptionsActionsheet.tsx
  apps/dog-walk/types/option.ts
Owners: @Lim-Ji-Hyeon

feat: ✨ Auth Provider 추가
  apps/dog-walk/app/_layout.tsx
  apps/dog-walk/contexts/AuthProvider.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 산책 코스 등록 화면에 로그인 하지 않은 사용자의 경우에는 로그인 UI가 표시되도록 설정
  apps/dog-walk/app/(tabs)/add.tsx
Owners: @Lim-Ji-Hyeon

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @infinite-loop-factory/app-factory

# apps
/apps/cafe @ckrbqja
/apps/country-tracker @gracefullight
/apps/delivery @ckrbqja
/apps/dog-walk @Lim-Ji-Hyeon
/apps/playlist @gaa0
/apps/question-card @JAM-PARK
/apps/reaction-speed-test @JAM-PARK

# packages

# scripts

# turbo
/turbo/generator/config.ts @gracefullight @ckrbqja

# settings
/.husky @gracefullight
/.vscode @gracefullight
