Repository infinite-loop-factory/app-factory, changes with the owners that .github/CODEOWNERS names for each.
All owners: @infinite-loop-factory/app-factory, @ckrbqja, @gracefullight, @Lim-Ji-Hyeon, @gaa0, @JAM-PARK

feat: ✨ 코스별 최신 리뷰 및 사용자 리뷰 작성 여부 조회 훅 추가
  apps/dog-walk/api/reactQuery/queryKeys.ts
  apps/dog-walk/api/reactQuery/review/useFindLatestCourseReviews.ts
  apps/dog-walk/api/reactQuery/review/useHasUserReviewed.ts
Owners: @Lim-Ji-Hyeon

chore: 🔧 Images 객체에 기본 프로필 이미지 경로 추가
  apps/dog-walk/assets/images.ts
Owners: @Lim-Ji-Hyeon

refactor: ♻️ Color.ts에 기존 팔레트 정의 추가
  apps/dog-walk/constants/Colors.ts
Owners: @Lim-Ji-Hyeon

feat: ✨ 리뷰가 없을 때의 UI 컴포넌트 구현
  apps/dog-walk/components/organisms/ReviewEmptyState.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 리뷰 평점 및 리뷰 수 표시 컴포넌트 추가
  apps/dog-walk/components/card/ReviewScoreCard.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 리뷰 목록에 표시할 컴포넌트 추가
  apps/dog-walk/components/molecules/ReviewItem.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ Review 컴포넌트 props 추가 & 리뷰 데이터 연동 & 리뷰 존재 시 UI 추가
  apps/dog-walk/app/(screens)/detail/[id].tsx
  apps/dog-walk/components/organisms/Reviews.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 이미지 스와이프 모달 추가
  apps/dog-walk/components/modal/ImageModal.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 상세 화면>리뷰 탭에 이미지 모달 추가
  apps/dog-walk/components/molecules/ReviewItem.tsx
  apps/dog-walk/components/organisms/Reviews.tsx
Owners: @Lim-Ji-Hyeon

fix: 🐛 홈 화면>최근 리뷰 영역에 전체보기 버튼 제거
  apps/dog-walk/app/(tabs)/index.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 산책코스별 리뷰 무한 스크롤 조회 훅 추가
  apps/dog-walk/api/reactQuery/queryKeys.ts
  apps/dog-walk/api/reactQuery/review/useFindCourseReviewsInfinite.ts
Owners: @Lim-Ji-Hyeon

feat: ✨ 리뷰 전체보기 화면 추가
  apps/dog-walk/app/(screens)/review/index.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ Add unit tests for country options, form validation, payload builder, and country resolution
  apps/country-tracker/src/features/home/utils/__tests__/country-options.test.ts
  apps/country-tracker/src/features/home/utils/__tests__/form-validation.test.ts
  apps/country-tracker/src/features/home/utils/__tests__/payload-builder.test.ts
  apps/country-tracker/src/features/home/utils/__tests__/resolve-country.test.ts
Owners: @gracefullight

fix: 🐛 Correct form state handling
  apps/country-tracker/src/features/home/components/add-visit/country-select-field.tsx
Owners: @gracefullight

feat: ✨ replace mini player animation with bottom sheet
  apps/playlist/app/(tabs)/_layout.tsx
  apps/playlist/app/(tabs)/index.tsx
  apps/playlist/components/MiniPlayer.tsx
  apps/playlist/contexts/PlayerContext.tsx
Owners: @gaa0

feat: ✨ implementing login
  apps/cafe/app.config.ts
  apps/cafe/package.json
  apps/cafe/src/app/(tabs)/mypage.tsx
  apps/cafe/src/app/_layout.tsx
  apps/cafe/src/app/auth.tsx
  apps/cafe/src/assets/images/adaptive-icon.png
  apps/cafe/src/features/auth/auth-context.tsx
  apps/cafe/src/features/auth/naver.ts
  apps/cafe/src/features/auth/supabase/auth-context.tsx
  apps/cafe/src/supabase/supabase.ts
  pnpm-lock.yaml
Owners: @ckrbqja, @infinite-loop-factory/app-factory

feat: ✨ 산책 코스 게시물을 차단하는 훅 추가
  apps/dog-walk/api/reactQuery/block/useInsertBlockCourse.ts
Owners: @Lim-Ji-Hyeon

feat: ✨ OptionsActionsheet 추가
  apps/dog-walk/components/actionsheet/OptionsActionsheet.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 산책 코스 게시글 차단 관련 Actionsheet 추가
  apps/dog-walk/components/actionsheet/BlockCourseActionsheet.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ DetailHeaderBar에 산책 코스 차단 Actionsheet 추가
  apps/dog-walk/components/organisms/DetailHeaderBar.tsx
Owners: @Lim-Ji-Hyeon

refactor: ♻️ DetailHeaderBar props 수정
  apps/dog-walk/app/(screens)/detail/[id].tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ Update date range section to use form fields and improve localization strings
  apps/country-tracker/src/features/home/components/add-visit/date-range-section.tsx
  apps/country-tracker/src/features/home/components/add-visit/media-import-card.tsx
  apps/country-tracker/src/libs/i18n/locales/en.json
  apps/country-tracker/src/libs/i18n/locales/ko.json
Owners: @gracefullight

fix: 🐛 handleBlock 함수에 예외 처리 추가
  apps/dog-walk/components/actionsheet/BlockCourseActionsheet.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 스켈레톤 UI 추가
  apps/dog-walk/components/card/CourseCardSkeleton.tsx
  apps/dog-walk/components/card/ReviewCardSkeleton.tsx
  apps/dog-walk/components/ui/skeleton/index.tsx
  apps/dog-walk/components/ui/skeleton/index.web.tsx
  apps/dog-walk/components/ui/skeleton/styles.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 산책 코스 데이터가 없을 때의 UI 개발
  apps/dog-walk/components/molecules/EmptyCourse.tsx
Owners: @Lim-Ji-Hyeon

feat(country-tracker): ✨ add error boundary and map enhancements
  .gitignore
  apps/country-tracker/package.json
  apps/country-tracker/src/app/_layout.tsx
  apps/country-tracker/src/components/error-boundary.tsx
  apps/country-tracker/src/components/error-fallback.tsx
  apps/country-tracker/src/features/home/components/add-visit/date-range-section.tsx
  apps/country-tracker/src/features/map/components/map-screen.tsx
  apps/country-tracker/src/libs/i18n/locales/en.json
  apps/country-tracker/src/libs/i18n/locales/ko.json
  apps/country-tracker/src/utils/download-utils.ts
  pnpm-lock.yaml
Owners: @infinite-loop-factory/app-factory, @gracefullight

test(dog-walk): 🚨 update snapshot for ThemedText component
  apps/dog-walk/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
Owners: @Lim-Ji-Hyeon

feat: ✨ 차단된 산책 코스 필터링 기능 구현
  apps/dog-walk/api/reactQuery/course/useFindCourse.ts
  apps/dog-walk/api/reactQuery/course/useFindNearbyCourses.ts
  apps/dog-walk/api/reactQuery/course/useFindPopularCourses.ts
  apps/dog-walk/api/utils/applyBlockFilter.ts
Owners: @Lim-Ji-Hyeon

feat: ✨ 검색 화면 차단 반영 및 빈 상태 UI 개선
  apps/dog-walk/app/(tabs)/search.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 홈 화면 차단 반영 및 로딩/빈 상태 UI 개선
  apps/dog-walk/app/(tabs)/index.tsx
Owners: @Lim-Ji-Hyeon

feat: ✨ 산책 코스 조회시 userId 파라미터 추가
  apps/dog-walk/app/(screens)/detail/[id].tsx
Owners: @Lim-Ji-Hyeon

feat(question-card): ✨ Google AdMob 개발 환경 통합
  apps/question-card/app.config.ts
  apps/question-card/docs/admob-integration.md
  apps/question-card/package.json
  apps/question-card/src/app/_layout.tsx
  apps/question-card/src/constants/admob.ts
  pnpm-lock.yaml
Owners: @JAM-PARK, @infinite-loop-factory/app-factory

feat(question-card): ✨ Phase 1 구현, AdMob 관련 문서 추가
  apps/question-card/docs/admob-device-id-guide.md
  apps/question-card/docs/admob-placement-strategy.md
  apps/question-card/package.json
  apps/question-card/src/app/_layout.tsx
  apps/question-card/src/components/ads/BannerAd.tsx
  apps/question-card/src/components/screens/QuestionListScreen.tsx
  apps/question-card/src/constants/admob.ts
  pnpm-lock.yaml
Owners: @JAM-PARK, @infinite-loop-factory/app-factory

feat(question-card): ✨ Phase 4 - QuestionListScreen 인라인 광고 구현
  apps/question-card/src/components/screens/QuestionListScreen.tsx
Owners: @JAM-PARK

feat(question-card): ✨ AdMob Phase 2-3 구현
  apps/question-card/docs/admob-banner-sizes-and-placement-options.md
  apps/question-card/docs/admob-implementation-status.md
  apps/question-card/src/components/screens/DifficultySelectionScreen.tsx
  apps/question-card/src/components/screens/IndexScreen.tsx
  apps/question-card/src/components/screens/IndividualCardScreen.tsx
  apps/question-card/src/components/screens/QuestionListScreen.tsx
  apps/question-card/src/components/screens/QuestionMainScreen.tsx
Owners: @JAM-PARK

docs(question-card): 📚️ AdMob 문서 통합 및 환경 설정 정리
  apps/question-card/.env.development
  apps/question-card/.env.example
  apps/question-card/.gitignore
  apps/question-card/CLAUDE.md
  apps/question-card/docs/ADMOB_GUIDE.md
  apps/question-card/docs/ADMOB_PLACEMENT.md
  apps/question-card/docs/ADMOB_STATUS.md
  apps/question-card/docs/archive/admob-banner-sizes-and-placement-options.md
  apps/question-card/docs/archive/admob-device-id-guide.md
  apps/question-card/docs/archive/admob-implementation-status.md
  apps/question-card/docs/archive/admob-integration.md
  apps/question-card/docs/archive/admob-placement-strategy.md
  apps/question-card/src/constants/admob.ts
Owners: @JAM-PARK

chore(question-card): 🔧 🗑️ 미사용 assets 삭제 및 문서 최신화
  apps/question-card/docs/PROJECT_STATUS.md
  apps/question-card/src/assets/fonts/SpaceMono-Regular.ttf
  apps/question-card/src/assets/images/il.png
  apps/question-card/src/assets/images/partial-react-logo.png
  apps/question-card/src/assets/images/react-logo.png
  apps/question-card/src/assets/images/react-logo@2x.png
  apps/question-card/src/assets/images/react-logo@3x.png
Owners: @JAM-PARK

feat(question-card): ✨ Expo Go AdMob 호환성 처리
  apps/question-card/src/app/_layout.tsx
  apps/question-card/src/components/ads/BannerAd.tsx
  apps/question-card/src/components/screens/DifficultySelectionScreen.tsx
  apps/question-card/src/components/screens/IndexScreen.tsx
  apps/question-card/src/components/screens/IndividualCardScreen.tsx
  apps/question-card/src/components/screens/QuestionListScreen.tsx
  apps/question-card/src/components/screens/QuestionMainScreen.tsx
  apps/question-card/src/constants/admob.ts
Owners: @JAM-PARK

refactor(question-card): ♻️ 🎨 하단 UI 컴포넌트 통일
  apps/question-card/src/components/screens/ContinuousCardScreen.tsx
  apps/question-card/src/components/screens/DifficultySelectionScreen.tsx
  apps/question-card/src/components/screens/IndividualCardScreen.tsx
  apps/question-card/src/components/screens/QuestionListScreen.tsx
  apps/question-card/src/components/screens/QuestionMainScreen.tsx
Owners: @JAM-PARK

fix(question-card): 🐛 스와이프 후 카드 회전 버그 수정 및 힌트 문구 개선
  apps/question-card/src/components/screens/ContinuousCardScreen.tsx
Owners: @JAM-PARK

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @infinite-loop-factory/app-factory

# apps
/apps/cafe @ckrbqja
/apps/country-tracker @gracefullight
/apps/delivery @ckrbqja
/apps/dog-walk @Lim-Ji-Hyeon
/apps/playlist @gaa0
/apps/question-card @JAM-PARK
/apps/reaction-speed-test @JAM-PARK

# packages

# scripts

# turbo
/turbo/generator/config.ts @gracefullight @ckrbqja

# settings
/.husky @gracefullight
/.vscode @gracefullight
